body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerDiv{
    background-color: var(--background-colour-offblue);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.required:after {
    content: "*";
    color: red;
}